USE [master]
GO
/****** Object:  Database [MicroStore]    Script Date: 31/01/2017 05:52:35 p. m. ******/
CREATE DATABASE [MicroStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MicroStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MicroStore.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MicroStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MicroStore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MicroStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MicroStore]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 31/01/2017 05:52:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nchar](25) NULL,
	[Contraseña] [nchar](25) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 31/01/2017 05:52:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[Idp] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nchar](25) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Imagen] [varbinary](max) NULL,
	[Solicitado] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Usuario], [Contraseña]) VALUES (1, N'Martin                   ', N'Dolar                    ')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

SET IDENTITY_INSERT [dbo].[Productos] OFF
USE [master]
GO
